<h1>Lista de productos</h1>

<ul id="product-list">
  {{#each products}}
    <li>
        Título: <b>{{this.title}}</b>  <br>
        Autor: <b>{{this.author}}</b>  <br>
        Precio: <b>${{this.price}}</b> <br> 
        Stock: <b>{{this.stock}}</b>  <br>
        Categoría: <b>{{this.category}}</b>
    </li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();


  function renderProducts(products) {
      const list = document.getElementById("product-list");
      list.innerHTML = "";
      products.forEach(p => {
          list.innerHTML += `
              <li>
                Título: <b>${p.title}</b>  <br>
                Autor: <b>${p.author}</b> <br>
                Precio: <b>$${p.price}</b>  <br>
                Stock: <b>${p.stock}</b>  <br>
                Categoría:<b>${p.category}</b>
              </li>`;
      });
  }

  socket.on("productosActualizados", (products) => {
      renderProducts(products);
  });
</script>
