<h1>Productos en tiempo real</h1>

<form id="productForm">
    <input type="text" name="title" placeholder="Título" required />
    <input type="text" name="author" placeholder="Autor" required />
    <input type="number" name="price" placeholder="Precio" required />
    <input type="number" name="stock" placeholder="Stock" required />
    <input type="text" name="category" placeholder="Categoría" required />

    <button type="submit">Crear producto</button>
</form>

<hr>

<h2>Lista en vivo</h2>
<ul id="productList">
    {{#each products}}
      <li>
        <b>{{this.title}}</b>  
        Autor: {{this.author}}  
        Precio: ${{this.price}}  
        Stock: {{this.stock}}  
        Categoría: {{this.category}}
      </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    const form = document.getElementById("productForm");
    const productList = document.getElementById("productList");

    form.addEventListener("submit", (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const product = Object.fromEntries(formData);


        socket.emit("nuevoProducto", product);

        form.reset();
    });


    socket.on("productosActualizados", (products) => {
        productList.innerHTML = "";
        products.forEach(p => {
            productList.innerHTML +=  `
              <li>
                <b>${p.title}</b>  
                Autor: ${p.author}  
                Precio: $${p.price}  
                Stock: ${p.stock}  
                Categoría: ${p.category}
              </li>`;
    });
    }); 
</script>
